* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #465671;
    /* font options in case fonts are not installed*/
    font-family: Helvetica, Arial, sans-serif;
    background-color: #eeeef9;
}

header {
    padding: 15px 0px;
    background-color: #31343e;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    padding-left: 5vw;
    padding-right: 1vw;;
    background-color: #9fc6cd;
    font-weight: bold;
    font-size: 42px;
    color: #31343e;
    margin: 0;
}

header a {
    text-decoration: none;
    
}

header nav {
    margin: auto 5vw;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    color: #9fc6cd;
    margin: 0.3vw 0.5vw;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: 0.3vw solid #9fc6cd;
}

header nav ul li a:hover {
    background-color: #9fc6cd;
    color: #31343e;
}

.hero {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-image: url("./images/computer_desk.jpg");
    background-size: cover;
    background-position: 50% 60%;
    height: 20vw;
    align-items: flex-end;
}

.hero-message h3{
    background-color: #9fc6cd;
    padding: 0.2vw 0.4vw;
    margin: 0.8vw 2vw;
    font-size: 1.55vw;
}

main {

}

.flex-row {
    margin: 30px auto;
    /* padding-bottom: 50px; */
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-row h2 {
    padding-right: 1.5vw;
    text-align: right;
    flex: 1 15%;
    font-weight: bold;
    font-size: 42px;
    height: 100%;
}

.flex-row > * {
    flex: 2 80%;
    height: 100%;
}

.row-info {
    padding: 5px 1.5vw;
    /* display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: center; */
    border-left: 4px solid #465671;
    margin: 0;
    min-height: 100px;
}

.row-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    list-style: none;
    width: 100%;
    height: 100%;
    /* flex: 1; */
}

.row-info ul li a {
    color: #465671;
    padding: 4px;
    margin: 15px;
    font-size: 20px;
    font-weight: bolder;
    border-bottom: 3px solid #465671;
    text-decoration: none;
    height: 100%;
    /* flex: 1; */
}

.row-info ul li a:hover {
    background-color: #465671;
    color: #eeeef9;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 8px;
    height: 40vw;
}

.project {
    display: flex;
    flex-wrap: wrap;
    border: 4px solid #9fc6cd;
    filter: grayscale(40%);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-end;
}

.project:hover {
    filter: grayscale(0%);
}

.project-info {
    background-color: #9fc6cd;
    padding: 0.3vw;
    margin-bottom: 1vw;
}

.box1 {
    background-image: url("./images/run-buddy.png");
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 3;
}

.box2 {
    background-image: url("./images/horiseon.png");
}

.box3 {
    background-image: url("./images/computer_desk.jpg");
}

.box4 {
    background-image: url("./images/computer_desk.jpg");
}

.box5 {
    background-image: url("./images/computer_desk.jpg");
}

#contact-me .row-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}